@model IEnumerable<EcommersShop.Models.TopProduct>

@{
    ViewBag.Title = "Index";
}

<h2>Top Products</h2>


  <table class="table">

    @foreach (var item in Model)
    {

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
          

            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
        


            <th></th>
        </tr>
 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
         

            <td>
                @Html.ActionLink("Product Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-large" })
            </td>
            <td>
                @Html.ActionLink("Add To Cart", "OrderNow", "Cart", new { id = item.Id }, new { @class = "btn btn-primary btn-large" })
            </td>
        </tr>
    }
     

</table>