@model IEnumerable<EcommersShopAdmin.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductReview)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductReview)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CatId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CatId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CatId })
        </td>
    </tr>
}

</table>
