@model EcommersShopAdmin.DetailsProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetailsProduct</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AvailableQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductReview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatestProduct.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatestProduct.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopProduct.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopProduct.ProductName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DetailsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
